@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

nav {
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo a {
  font-size: 2em;
  font-weight: bold;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
  cursor: pointer;
}

.nav-lists {
  display: flex;
  list-style: none;
  column-gap: 1.2rem;

  & li {
    font-size: 1.3em;
    letter-spacing: 0.1em;

    & a {
      text-decoration: none;
      color: rgba(0, 0, 0, 0.9);
      font-weight: 500;
      padding-bottom: 0.5em;

      &:hover {
        cursor: pointer;
        color: rgba(0, 0, 0, 0.6);
        border-bottom: 3px solid tomato;
      }
    }
  }
}

.intro_section {
  height: 83vh;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 3em;
  margin: 0 10rem;
}

.profile_image {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  img {
    aspect-ratio: 1;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.profile_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.5rem;

  & p {
    font-size: 1.2em;
    font-weight: 500;
  }

  & h1 {
    font-size: 3em;
    height: fit-content;
  }

  & h2 {
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.7);
  }

  .btn_div {
    display: flex;
    column-gap: 1em;

    & button:last-child {
      background-color: hsla(0, 0%, 0%, 0.8);
      color: #fff;
      font-weight: 700;

      a {
        color: #fff;
      }

      &:hover {
        background-color: hsla(0, 0%, 0%, 0.9);
      }
    }
  }

  .links {
    display: flex;
    column-gap: 1em;
  }
}

.about-me-section {
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 2em 4em;
  align-items: center;
}

.about-me-section__container_left {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2em;

  & img {
    width: 100%;
    height: 100%;
  }
}

.about-me-section__container_right {
  width: 60%;
  height: 80%;

  & h2 {
    font-size: 2.5em;
  }

  & p {
    font-size: 1em;
  }
}

.about-me-section_academics {
  width: 100%;
  height: auto;

  > div {
    display: flex;
    column-gap: 1em;
    padding: 1em 0;
  }

  & span {
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 0.2em;

    &:hover {
      color: rgba(0, 0, 0, 0.7);
    }

    &.active {
      border-bottom: 3px solid tomato;
    }
  }
}

.about-me-academics-section li {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.25em;

  span {
    padding: 0;
  }

  span.up {
    font-size: 0.9em;
    color: tomato;
    font-weight: 500;
  }
  span.down {
    font-size: 1em;
    color: black;
    font-weight: 400;
  }
}

.projects-section {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem 8rem;
}

.project-card {
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 4vh;
  overflow: hidden;
  padding: 3em 0;
  background: rgba(0, 0, 0, 0.068);
  display: flex;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .project-card__image-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
    background: linear-gradient(rgba(0, 0, 0, 0.7), #ccc);

    /* #ff004f */

    .project-card__image-overlay__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      row-gap: 0.25em;

      & h3 {
        font-size: 1.5em;
        color: #fff;
      }

      & p {
        font-size: 0.75em;
        color: #fff;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        unicode-bidi: bidi-override;
        text-align: justify;
      }
    }
    .project-card__image-overlay__btn {
      display: flex;
      column-gap: 1.5em;

      & button {
        width: 110px;
        font-size: 0.75em;
      }
    }
  }

  &:hover .project-card__image-overlay {
    animation: slideUp 0.5s ease-in-out forwards;
    cursor: pointer;
  }

  &:hover img {
    scale: 1.4;
    transition: 0.4s ease-in-out;
  }
}

@keyframes slideUp {
  from {
    top: 100vh;
  }
  to {
    top: 0px;
  }
}

.contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1em;
  padding: 5em;

  & span {
    font-size: 3rem;
    font-weight: bold;
  }

  & div {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.5);
    column-gap: 1em;
    padding: 1em 2em;
    border-radius: 10vh;

    & a {
      display: flex;
      align-items: center;
      column-gap: 0.25em;
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 2em;
  row-gap: 1.5em;

  & p {
    font-size: 1rem;
  }
}
